{% extends "web_homepage/base.html" %}}
{% block head %}
    {{ super() }}
    {# ... #}
{% endblock %}
{% block body %}
    <main>
        <section class="section">
            <h1 class="title">Kartenverwaltung</h1>
            <div class="subtitle">Hier kannst du deine Schließkarten verwalten:</div>
        </section>
        <section class="section">
            <div class="grid is-col-min-14">
                {% for n in range(1,4+1) %}
                    <div class="cell">
                        <div class="card">
                            {#
                        <div class="card-image">
                            <figure class="image is-1by1">
                               <img src="{{ static('cards/fa6-regular--id-card.svg') }}">
                            </figure>
                        </div>
                        #}
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ static('cards/fa6-regular--id-card.svg') }}" height="48px"
                                             width="48px">
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Card {{ n }}</p>
                                        {# <p class="subtitle is-6">Created: YYYY-DD-MM</p> #}
                                    </div>
                                </div>

                                <div class="content">
                                    <div>Karte registriert: YYYY-MM-DD</div>
                                    <div>Karte zuletzt verwendet: YYYY-MM-DD</div>
                                    <hr/>

                                    <form method="post" action="/delete">
                                        <input type="hidden" name="id" value="12345">
                                        <button type="submit" class="button is-danger">
                                            Karte löschen
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="cell">

                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <img src="{{ static('cards/fa6-regular--id-card.svg') }}" height="48px"
                                         width="48px">
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Neue Karte hinzufügen</p>
                                    {# <p class="subtitle is-6">Created: YYYY-DD-MM</p> #}
                                </div>
                            </div>

                            <div class="content">
                                <div>Halte die neue Karte an die Registrierungsstation und klicke danach auf den Button:</div>
                                <hr/>
                                <form method="post" action="/delete">
                                    <button type="submit" class="button is-warning">
                                        Karte registrieren
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
{% endblock %}
